version: '3.8'

services:
  db:
    image: mariadb:11
    container_name: fliply-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fliply
      MYSQL_USER: appuser
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: fliply-app
    depends_on:
      - db
    environment:
      DB_HOST: db
#    ports:
#      - "8080:8080"
    stdin_open: true
    tty: true

volumes:
  db_data:
