* {
    -fx-background: #F9FBFF;
}

.title-label {
    -fx-font-family: "Poppins";
    -fx-font-size: 72px;
    -fx-font-weight: bold;
    -fx-text-fill: #3D8FEF;
}

.subtitle-label {
    -fx-font-family: "Poppins";
    -fx-font-size: 28px;
    -fx-text-fill: #8C8C8C;
}

.header {
    -fx-font-family: "Poppins";
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.sub-header {
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10px 32px 10px 32px;
    -fx-text-fill: white;
    -fx-background-color: #3D8FEF;
    -fx-border-color: transparent;
}

.secondary-button {
    -fx-text-fill: #3D8FEF;
    -fx-background-color: #FFFFFF;
}

/* Remove the inner “line” / default skin background */
.form-textarea {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* The actual editable area */
.form-textarea .content {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 10 15 10 15;
}

/* Make inner scrollpane/viewport transparent so no extra line appears */
.form-textarea .scroll-pane,
.form-textarea .scroll-pane .viewport {
    -fx-background-color: transparent;
}
