* {
    -fx-background: #F9FBFF;
}

.title-label {
    -fx-font-family: "Poppins";
    -fx-font-size: 72px;
    -fx-font-weight: bold;
    -fx-text-fill: #3D8FEF;
}

.subtitle-label {
    -fx-font-family: "Poppins";
    -fx-font-size: 28px;
    -fx-text-fill: #8C8C8C;
}

.header {
    -fx-font-family: "Poppins";
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.sub-header {
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10px 32px 10px 32px;
    -fx-text-fill: white;
    -fx-background-color: #3D8FEF;
    -fx-border-color: transparent;
}

.secondary-button {
    -fx-text-fill: #3D8FEF;
    -fx-background-color: #FFFFFF;
    /*-fx-border-color: #3D8FEF;*/
}

.menu {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.menu-item {

}

.menu-button {
    -fx-font-family: "Poppins";
    -fx-font-size: 11px;
    -fx-text-fill: #8C8C8C;
    -fx-background-color: #FFFFFF;
}